<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <LINK href="adminStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div align="right"><a ui-sref="login">Logout</a></div>
<h2>Admin page</h2>
<p>Click on the buttons inside the tabbed menu:</p>

<div class="tab">
    <button class="tablinks" ng-click="openTab(event, 'Requests')">Requests</button>
    <button class="tablinks" ng-click="openTab(event, 'Messages')">Messages</button>
    <button class="tablinks" ng-click="openTab(event, 'History')">History</button>
</div>

<div id="Requests" class="tabcontent" style="display:block">
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Type</th>
            <th>Status</th>
            <th>Accept</th>
            <th>Reject</th>
        </tr>
        <tr ng-repeat="req in listRequests | filter: 'not'">
            <td>{{req.id}}</td>
            <td>{{req.email}}</td>
            <td>{{req.type}}</td>
            <td>{{req.status}}</td>
            <td>
                <button ng-click="acceptRequest(req.id)">Accept</button>
            </td>
            <td>
                <button ng-click="rejectRequest(req.id)">Reject</button>
            </td>
        </tr>
    </table>
</div>

<div id="Messages" class="tabcontent" style="display:none">
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Date</th>
            <th>Hours</th>
            <th>Read</th>
        </tr>
        <tr ng-repeat="reason in listReasons">
            <td>{{reason.id}}</td>
            <td>{{reason.email}}</td>
            <td>{{reason.date}}</td>
            <td>{{reason.hours}}</td>
            <td>
                <button ng-click="readMessage(event, reason.email, reason.motive)">Read</button>
            </td>
        </tr>
    </table>
</div>

<div id="History" class="tabcontent" style="display:none">
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
        <tr ng-repeat="req in listRequests | filter: '!not'">
            <td>{{req.id}}</td>
            <td>{{req.email}}</td>
            <td>{{req.type}}</td>
            <td>{{req.status}}</td>
        </tr>
    </table>
</div>

<div id="ViewMessage" class="tabcontent" style="display:none">
    <h4>Message from {{email}} </h4>
    {{motive}}
</div>
</body>
</html>