<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div align="right"><a ui-sref="login">Logout</a></div>
    <h3>Welcome! </h3>
    <LINK href="employeeStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="tab">
    <button class="tablinks" ng-click="openTab(event, 'Requests')">Requests</button>
    <button class="tablinks" ng-click="openTab(event, 'Messages')">Time Balance</button>
    <button class="tablinks" ng-click="openTab(event, 'History')">History</button>
</div>

<div id="Requests" class="tabcontent" style="display:block">
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Type</th>
            <th>Status</th>

        </tr>
        <tr ng-repeat="req in listRequests | filter:user | filter:'not'">
            <td>{{req.id}}</td>
            <td>{{req.email}}</td>
            <td>{{req.type}}</td>
            <td bgcolor="yellow">pending</td>
        </tr>
    </table>
</div>

<div id="Messages" class="tabcontent" style="display:none">
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Date</th>
            <th>Hours</th>
            <th>Read</th>
        </tr>
        <tr ng-repeat="reason in listReasons | filter:user">
            <td>{{reason.id}}</td>
            <td>{{reason.email}}</td>
            <td>{{reason.date}}</td>
            <td>{{reason.hours}}</td>
            <td>
                <button ng-click="readMessage(event, reason.email, reason.motive)">Read</button>
            </td>
        </tr>
    </table>
    <h4>Total: {{missedhours}}</h4>
</div>

<div id="History" class="tabcontent" style="display:none">
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
        <tr ng-repeat="req in listRequests | filter: '!not'">
            <td>{{req.id}}</td>
            <td>{{req.email}}</td>
            <td>{{req.type}}</td>
            <td ng-class="{red : req.status === 'rejected', green: req.status === 'accepted'}">{{req.status}}</td>
        </tr>
    </table>
</div>

<div id="ViewMessage" class="tabcontent" style="display:none">
    <h4>Message from {{email}} </h4>
    {{motive}}
</div>

<button class="button" ng-click="request()">Send Request</button>
<button class="buttonMsg" ng-click="reason()">Send Message</button>
</body>
</html>