<!DOCTYPE html>
<html>
<LINK href="RequestStyle.css" rel="stylesheet" type="text/css">
<body>
<div class="modal-header">
    <h1>Request</h1>
</div>
<div class="modal-body">
    <label>Type</label>
    <select ng-model="type" ng-options="x for x in types">
    </select>
</div>
</md-card-content>
</md-card>
</div>
<div class="modal-footer">
    <button ng-click="save()" class="btn btn-primary">Save</button>
    <button ng-click="close()" class="btn">close</button>
</div>
</body>
</html>